<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio de Pierrick Pagaud</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1>Bienvenue sur la page d'accueil !</h1>
    <p>Un portfolio exceptionnel sera bientôt disponible ici.</p>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <nav class="navbar">
                    <li class="nav-item">About</li>
                    <li class="nav-item">Experience</li>
                    <li class="nav-item">Projects</li>
                </nav>
            </div>
            <div class="col-9"></div>
        </div>
    </div>
</body>
</html>
