<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio de {{ name }}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="p-4"></div>
    <div class="container-fluid mt-5">
        <div class="row" style="margin-left:5vw;margin-right:5vw;">
            <div class="col-5">
                <nav class="navbar" style="flex-direction:column;align-items:flex-start;position:fixed;">
                    <h1 id="name">{{ name }}</h1>
                    <ul>
                        <li class="nav-item">About</li>
                        <li class="nav-item">Experience</li>
                        <li class="nav-item">Projects</li>
                    </ul>
                </nav>
            </div>
            <div class="col-7">
                <section id="about" style="margin-bottom:100px;">
                    {% for paragraphe in about %}
                        <div class="container-fluid mt-4" style="padding-left:0px;padding-right:0px;text-align:justify;">
                            {{ paragraphe }}
                        </div>
                    {% endfor %}
                </section>
                <section id="experience">
                    <div class="row">
                        {% for exp in experience %}
                            <div class="col-4">
                                <div>{{ exp.dates }}</div>
                            </div>
                            <div class="col-8" style="margin-bottom:30px;">
                                <div>{{ exp.position }}</div>
                                <div style="margin-bottom:10px;">{{ exp.company }} - {{ exp.location }}</div>
                                <div>{{ exp.description }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <section id="projects" style="margin-top:70px;margin-bottom:100px;">{{ projects }}</section>
            </div>
        </div>
    </div>
</body>
</html>
