<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio de {{ name }}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <nav class="navbar">
                    <h1 id="name">{{ name }}</h1>
                    <ul>
                        <li class="nav-item">About</li>
                        <li class="nav-item">Experience</li>
                        <li class="nav-item">Projects</li>
                    </ul>
                </nav>
            </div>
            <div class="col-9">
                <section id="about">{{ about }}</section>
                <section id="experience">{{ experience }}</section>
                <section id="projects">{{ projects }}</section>
            </div>
        </div>
    </div>
</body>
</html>
